* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  touch-action: none;
}

body {
  color: white;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
  border: none;
}

.debug {
  position: fixed;
  z-index: 999;
  background-color: black;
  color: yellow;
  padding: 4px;
  font-size: small;
  top: 0;
  left: 0;
  inline-size: 100%;
  overflow-wrap: break-word;
}
