.console_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.console_background {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(92, 92, 92, 0.3);
  padding: 8px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
}

.timer {
  width: 100px;
  padding: 0 12px;
}

.console_top {
  display: flex;
  justify-content: space-between;
}

.console_title {
  /* align-self: flex-start; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.logo_shadow {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

.console_pages {
  display: flex;
  gap: 4px;
}

.console_mute {
  margin-left: auto;
  display: flex;
}

.console {
  flex-direction: column;
  gap: 8px;
}

.version {
  color: #eeeeee;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 0.7rem;
  margin-left: auto;
  text-align: right;
}
